.prochesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
  width: 90%;
  border: none;
  border-radius: 20px;
  box-shadow: grey 3px 3px 5px;
  background-color: var(--blue-color);
}

.prochesContainer h2:hover,
.prochesContainer p:hover {
  cursor: default;
}

.Cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border: none;
  border-radius: 20px;
  box-shadow: grey 3px 3px 5px;
  background-color: var(--blue-color);
}

.cardProches {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-left: 4rem;
  width: 70%;
}

.cardProches li:hover {
  cursor: default;
}

.cardProches li {
  list-style-type: none;
  font-size: 1.2rem;
}

.add label {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.add input {
  margin-right: 1rem;
  border-radius: 5px;
  padding: 0.5rem;
  border: none;
  box-shadow: grey 2px 2px 5px;
}

.add input:focus {
  outline-color: var(--red-color);
  box-shadow: none;
}

.searchInput,
.addInput {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.search label,
.add label {
  font-weight: 600;
}

.searchInput input,
.addInput input {
  width: 100%;
}

.search,
.add {
  display: flex;
  flex-direction: column;
  width: 70%;
}

@media screen and (min-width: 768px) {
  .prochesContainer,
  .Cards {
    width: 50%;
    margin-top: 4rem;
  }

  .cardProches {
    padding-left: 14rem;
  }
}
