@font-face {
  font-family: ArchitectsDaughter;
  src: url("./assets/ArchitectsDaughter.ttf");
}

* {
  box-sizing: border-box;
  font-family: "ArchitectsDaughter", sans-serif;
}

body {
  margin: 0;
  background-image: url("./assets/aquarelle.jpg");
  background-size: contain rotate(45deg);
}

.App {
  text-align: center;
}

:root {
  --red-color: #ef5241;
  --blue-color: #97d6dd;
}

.svgIcons {
  color: var(--red-color);
}

.svgIcons:hover {
  transform: scale(1.25);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  body {
    background-image: url("./assets/aquarelle.jpg");
    background-size: cover;
  }
}
